@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');

.container {
  width: 1030px;
  Height:100%;
  margin: 0 auto;
  background-image:url(./image/background\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.header{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 17px;
 margin-top: 46px;
}

.logo {
display: flex;
}

.fixed{
 display: flex;
 flex-direction: column;
 margin-left: 8px;
}

.logo-img{
 width: 53px;
 height: 47px;
}

.logo-text-1{
 font-style: normal;
 font-weight: 700;
 font-size: 29px;
 line-height: 29px;
 color: #FFFFFF;
 text-decoration: none;
}

.logo-text-2{
 font-style: normal;
 font-weight: 700;
 font-size: 18px;
 line-height: 18px;
 color: #FFFFFF;
 text-decoration: none;
}

.contacts{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.e-mail {
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 18px;
 color: #FFFFFF;
 text-decoration: none;
 margin-bottom: 19px;
}

.logo:hover .fixed>a {
  color: #F26522;
}
  
.logo-img-hover{
  display: none;
  width: 53px;
  height: 47px;
}
  
.logo:hover .logo-img-hover{
  display: inline-block;
}
  
.logo:hover .logo-img{
  display: none;
}

.e-mail:hover {
  color: #F26522;
}

.tel{
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 18px;
 color: #FFFFFF;
 text-decoration: none;
 margin-left: 74px;

}

.tel:hover {
 color: #F26522;
}

.main{
width: 1030px;
}
.grid{
display: grid;
gap: 60px;
grid-row-gap: 37px;
align-items: flex-start;
grid-template-columns:repeat(3,300px);
grid-template-rows:repeat(2,260px);
padding: 0%;
margin: 0%;
}
  
.grid-item{
 position: relative;
 width: 309px;
 height: 261px;
 display: flex;
 justify-content: center;
 grid-column: span 1;
 grid-row: span 1;
 flex-direction: column;
 transition: .5s ease;
}

.img{
 width: 300px;
 height: 220px; 
 border-width: 2px;
 border-style: solid;
 border-image:linear-gradient(#FFFFFF,#000000)1;
}

.prise{
 position: absolute;
 width: 303px;
 height: 55px;
 background: #F26522;
 bottom: 39px;
 font-family: 'Roboto', sans-serif;
 font-style: normal;
 font-weight: 400;
 color: #FFFFFF;
}

.from{
 position: relative;
 font-size: 10px;
 line-height: 10px;
 left: 16px;
}
  
.€50{
 position: relative;
 left: 16px;
 bottom: 12px;
 font-size: 20px;
 line-height: 20px;
}

.details{
 position: relative;
 left:174px;
 bottom: 48px ;
 font-weight: 400;
 font-size: 14px;
 line-height: 14px;
}
.details:after {
 content: ">";
 margin-left: 16px;
 width: 5px;
 height: 10px;}

.prise{
 display: none;
}
  
.grid-item:hover .grid-text{
 color: #F26522;
}

.grid-item:hover .prise{
 display: inline-block;
/*transition: margin-bottom 5s ease-in-out 5s;*/
}
 
 .grid-text{
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 18px;
 align-items: center;
 text-align: center;
 color: #FFFFFF;
 margin-top: 20px;
 margin-bottom: 0px;
 text-decoration: none;
}
 
.copyright{
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: 12px;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: #FFFFFF;
 margin-top: 48px;
 margin-bottom: 15px;
}